
$blue: #1E213A;
$darkblue: #100E1D;
$gray: #6E707A;
$white: #E7E7EB ;
$yellow: #FFEC65;

$small: 340px;
$semi-small: 695px;
$medium: 761px;
$large: 960px;
$x-large: 1023px;
$xx-large: 1260px;

@mixin from($size) {
    @media (max-width: $size) {
        @content;
    }
}